<h2 class='text-center'>Send confirmation instructions</h2>
<hr>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class='form-group'>
    <%= f.label :login %>
    <%= f.text_field :login, autofocus: true, class: 'form-control', placeholder: 'Email or username' %>
  </div>
  <div class="clearfix">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-success' %>
    <%= link_to "Join", new_user_registration_path, class: 'btn btn-danger pull-right' %>
  </div>
<% end %>

