<%
  title 'Edit you account'
%>
<h2 class='text-center'>Update Account</h2>
<hr>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= render partial: 'users/form_fields', locals: {f: f} %>

  <div class='form-group'>
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current Password' %>
    <i class: 'help-block'>(we need your current password to confirm your changes)</i>
  </div>

  <div class='clearfix'>
    <%= f.submit "Update", class: 'btn btn-success' %>
  </div>

<% end %>
