<%
  title "Sign up"
  
%>
<div class="nav hidden-xs">
  <%= link_to 'I AM HERE FOR EVERYTHING', '#', class: "select-writer-form #{ 'active' if !resource.short_profile}"  %>

  <%= link_to 'I JUST WANT TO READ', '#', class: "select-reader-form #{ 'active' if resource.short_profile}"  %>
  
</div>

<div class='writer-form animated fadeIn <%= 'hide' if resource.short_profile %>'>
  <h1 class='text-center smile'>:-)</h1>
  <hr>
  <div class="nav visible-xs">

    <%= link_to 'I AM HERE FOR EVERYTHING', '#', class: "select-writer-form #{ 'active' if !resource.short_profile}"  %>
    <%= link_to 'I JUST WANT TO READ', '#', class: "select-reader-form #{ 'active' if resource.short_profile}"  %>
  
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {multipart: true}) do |f| %>
    <%= devise_error_messages! %>

    <%= render partial: 'users/form_fields', locals: {f: f} %>

    <%= f.hidden_field :short_profile,  value: false %>

    <div class='clearfix'>
      <%= f.submit "Join", class: 'btn btn-success' %>
      <%= link_to "Log in", new_session_path(:user) ,class: 'btn btn-warning' %>
    </div>

  <% end %>
</div>


<div class='reader-form animated fadeIn <%= 'hide' if !resource.short_profile %>'>
  <h1 class='text-center smile'>:)</h1>
  <hr>
  <div class="nav visible-xs">
    <%= link_to 'I AM HERE FOR EVERYTHING', '#', class: "select-writer-form #{ 'active' if !resource.short_profile}"  %>
    <%= link_to 'I JUST WANT TO READ', '#', class: "select-reader-form #{ 'active' if resource.short_profile}"  %>
  
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class='form-group'>
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name' %>
    </div>

    <div class='form-group'>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
    </div>

    <%= f.hidden_field :short_profile,  value: true %>

    <div class='form-group'>
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control', placeholder: 'username' %>
    </div>

    <div class='form-group'>
      <%= f.label :one_liner, 'One liner about you' %>
      <%= f.text_field :one_liner, class: 'form-control', placeholder: 'One liner about you' %>
    </div>

    <div class='form-group'>
      <% if @user.avatar? %>
        <p class='text-center'>
        <%= image_tag(@user.avatar.thumb.url, class: 'img-thumbnail profile-img img-circle')  %>
        </p>
      <% end %>
      <%= f.label :avatar %>
      <%= f.file_field :avatar, class: 'btn btn-success' %>
      <%= f.hidden_field :avatar_cache %>
    </div>


    <div class='form-group'>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
      <% if @validatable %><i class='help-block'>(<%= @minimum_password_length %> characters minimum)</i><% end %>
    </div>

    <div class='form-group'>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password' %>
    </div>

    <div class='clearfix'>
      <%= f.submit "Join", class: 'btn btn-success' %>
      <%= link_to "Log in", new_session_path(:user) ,class: 'btn btn-warning' %>
    </div>

  <% end %>
</div>
