<div style="color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-size: 14px; font-weight: normal;">
<p>
Hi <%= @receiver.name %>,
Hope you're having a great day! <%= @sender.name %> Showed Intrest in Yout IndiaTech Profile.
</p>

<br>
<p style='font-weight: bold'>Message:</p>
<p>
<%= @hiring_email.content %>
</p>
<br>
</p>
  <span style="color: gray">Regards<div>
  <span style="color: gray">Team IndiaTech<div>
</p>
<br>
<br>
<p>
  You have got this email because your availabilty status on the IndiaTech profile is public. To change please visit <%= link_to 'your profile', user_url(@receiver) %>
</p>
</div>

