<div style="color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-size: 14px; font-weight: normal;">
<p>
Hi <%= @subscriber.name %>,
</p>
<p>
There is new post from <%= @subscribed_to.name %>. Click the link below to read.
</p>
<p>
  <%= link_to @post.title, seo_post_url(@post.user, @post) %>
</p>



<div>Happy Reading!</div>
<span style="color: gray">WeAreIndiaTech Team<div>
</p>
<p style='font-size: 12px;'>
  To stop unsbcribe go to the post and click the unsbcribe button at the bottom of the page. Note: This action requires you to sign in.
</p>
</div>

