<div style="color: #222222; font-family: 'Helvetica','Arial',sans-serif; font-size: 14px; font-weight: normal;">
  <p>
    Hi <%= @user.name %>,
  </p>
  <p>
    I hope you're having a great day!
  </p>
  <p>
    I just wanted to drop you a quick note to thank you for checking out <%= ENV["SITENAME"] %>. I personally like to reach out to every new user to express my gratitude, most importantly, and secondly make sure you feel welcomed.
  </p>
  <p>
    We at <%= ENV["SITENAME"] %> are trying to build a platform where the Indian tech community can hang out, share views, showcase capabilities and more. Here are few of the tips to make this movement a success: 
  </p>
  <p>
    <ul>
      <li>
        Build an awesome <%= link_to 'profile page', user_url(@user) %>, showcase you projects and capabilities. <%= link_to 'Click here', edit_user_registration_url(alert: 'edit') %> to improve your profile. 
      </li>
      <li>
        <%= link_to 'Find something to read' , posts_url %>. Let other members know that you value their posts by liking, sharing and leaving comments.
      </li>
      <li>
        If you are feeling generous and adventurous, don't let the fire die. <%= link_to 'Write something', new_post_url(alert: 'post') %> for others to read.
      </li>
    </ul>
  </p>
  <p>
    If there is ever anything I can help you with or if you just want to say hi, please reach out to me through email <%= mail_to 'sayhi@weareindiatech.com' %>.
  </p>

  <p>
    <div>Cheers!</div>
    <div style="color: gray">Vipin<div>
  </p>

</div>

