<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>

    <ul class='alert alert-warning list-unstyled'>
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this post from being saved</h2>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  <% end %>
  <div class='form-group'>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control input-lg', placeholder: 'Title' %>
  </div>
  <div class='form-group'>
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control input-lg', placeholder: 'Title' %>
  </div>

  <div class='form-group text-center'>
    <% if @topic.splash? %>
      <p >
      <%= image_tag(@topic.splash.medium.url, class: 'img-thumbnail')  %>
      </p>
    <% end %>
    <%= f.file_field :splash, class: 'btn btn-success' %>
    <%= f.hidden_field :splash_cache %>
  </div>

 

  <div class="actions">
    <%= f.submit 'Publish', class: 'btn btn-success' %>
  </div>
<% end %>
