<%
  title t('.meta_title', topic: @topic.title)
  description t('.meta_description', topic: @topic.title, post_topics_count: @topic.post_topics_count)
  canonical topic_url(@topic)

%>

<div class="home-page-posts animated fadeIn ">
  <h2 class='text-center'>Recent Posts in <%= @topic.title %></h2>
  <hr>
  <%= render @posts %>
  <%= paginate @posts %>
</div><!-- Home page posts -->