<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h2>Resend unlock instructions</h2>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class='form-group'>
          <%= f.label :login %>
          <%= f.text_field :login, autofocus: true, class: 'form-control', placeholder: 'Email or username' %>
        </div>
        <div class="clearfix">
          <%= f.submit "Resend unlock instructions", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
