<div class='form-group'>
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name' %>
</div>

<div class='form-group'>
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
</div>

<div class='form-group'>
  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control', placeholder: 'username' %>
</div>

<div class='form-group'>
  <%= f.label :one_liner, 'One liner about you' %>
  <%= f.text_field :one_liner, class: 'form-control', placeholder: 'One liner about you' %>
</div>

<div class='form-group'>
  <%= f.label :profession_id, 'Designation' %>
  <%= f.select :profession_id, Profession.all.order('name').map{|p| [p.name, p.id]}, {}, {class: 'form-control'} %>
</div>

<div class='form-group <%= 'hide' unless @user.profession.try(:name) == 'Other' %>'>
<%= f.text_field :profession_name, class: 'form-control' %>
</div>

<div class='form-group'>
  <%= f.label :is_available do  %>
    <%= f.check_box :is_available  %> Available for work
  <% end %>
</div>

<div class='form-group'>
  <%= f.label :is_availablity_public do  %>
    <%= f.check_box :is_availablity_public  %> Make Availablilty Status Public
  <% end %>
  <small class='help-block m-0 bold'>Note: Checking the box above enables other members to contact you. A member can send you two messages maximum. We will not share your email.</small>
</div>

<div class='form-group'>
  <%= f.label :technologies, 'Technologies you work on'  %>
  <%= f.text_field :technologies, value: f.object.technologies.join(", "), class: 'form-control'   %>
</div>


<div class='form-group'>
  <%= f.label :profession_id, 'Company Name' %>
  <%= f.text_field :company_name, class: 'form-control', placeholder: 'Company Name' %>
</div>

<div class='form-group'>
  <% if @user.avatar? %>
    <p class='text-center'>
    <%= image_tag(@user.avatar.medium.url, class: 'img-thumbnail profile-img img-circle')  %>
    </p>
  <% end %>
  <%= f.label :avatar %>
  <%= f.file_field :avatar, class: 'btn btn-success' %>
  <%= f.hidden_field :avatar_cache %>
</div>

<div class='form-group'>
  <%= f.label :website %>
  <%= f.text_field :website, class: 'form-control', placeholder: 'Website (http://website.com)' %>
</div>
<div class='form-group'>
  <%= f.label :twitter %>
  <%= f.text_field :twitter, class: 'form-control', placeholder: 'Twitter (https://twitter.com/username)' %>
</div>
<div class='form-group'>
  <%= f.label :linked_in, "Linkedin" %>
  <%= f.text_field :linked_in, class: 'form-control' , placeholder: 'Linkedin (http://in.linkedin.com/in/vipinnagpal)' %>
</div>
<div class='form-group'>
  <%= f.label :github %>
  <%= f.text_field :github, class: 'form-control', placeholder: 'Github (https://github.com/user)'  %>
</div>

<div class='form-group'>
  <i class='help-block'>Tell us about you. Be creative, our readers are curious.</i>
  <%= f.text_area :bio, class: 'form-control', rows: '6', placeholder: 'Tell us something about yourself' %>
</div>

<div class='form-group'>
<%= f.label :password %>
<%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
<i class: 'help-block'>(leave blank if you don't want to change it)</i>
</div>

<div class='form-group'>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password' %>
</div>