<% if projects.present? %>
<div class="row">
  <div class="col-xs-12 m-b-30">
    <h2 class='m-0'><%= @user.name %>'s Projects</h2>
  </div>
  <div class="row">
    
    <% projects.each do |pro| %>
      <div class='col-xs-12 col-sm-4 col-md-3 text-center'>
        <%= link_to user_project_path(user_id: @user.slug, id: pro.slug) do %>
          <%= image_tag pro.image.medium.url, alt: pro.name, class:  'img-thumbnail' %>
        <% end %>
        <h2 class='f-lg'>
          <%= pro.name %>
        </h2>
        <p class='f-sm no-bold f-sans'>
          <%= pro.short_description %>
          <% if current_user == @user %>
            <%= link_to 'Edit Project', edit_project_path(pro)  %>
          <% else %>
            <%= link_to 'View more', user_project_path(user_id: @user.slug, id: pro.slug) %> 
          <% end %>
        </p>
      </div>
    <% end %>

  </div>

</div>
<% end %>