<div class='text-center' id='user-profile'>
  <%= link_to user_path(@user) do %><%= image_tag(user.avatar.medium.url, class: 'img-thumbnail profile-img img-circle')  %><% end %>
  <h2></span><%= user.name %> <small>(@<%= user.username %>)</small></h2>

    <div>
      
      <h3 class='text-muted m-0'>
        <% if user.profession %>
          <%= user.formatted_profession %>
          <% if user.company_name %>
            at <%= user.company_name %>
          <% end %>
        <% end %>
      </h3>

      <ul class='m-0 list-inline' id='social'>
        <% if user.website.present? %>
          <li>
            <%= link_to "<span class='entypo-globe'></span>".html_safe, user.website, target: '_blank' %>
          </li>
        <% end %>
        <% if user.twitter.present? %>
          <li>
            <%= link_to "<span class='entypo-twitter'></span>".html_safe, user.twitter, target: '_blank' %>
          </li>
        <% end %>
        
        <% if user.github.present? %>
          <li>
            <%= link_to "<span class='entypo-github'></span>".html_safe, user.github, target: '_blank' %>
          </li>
        <% end %>

        <% if user.linked_in.present? %>
          <li>
            <%= link_to "<span class='entypo-linkedin'></span>".html_safe, user.linked_in, target: '_blank' %>
          </li>
        <% end %>
        
      </ul>

      <% if user.technologies.present? %>
        <h3 class='m-0'>
          Technologies: <%= user.technologies.compact.map{|tech| link_to tech, users_path(q: tech)}.join(', ').html_safe %>
        </h3>
      <% end %>
      
    </div>
 




  
</div>
<h2 class='text-muted m-0 text-center'>

  <%= user.one_liner %>

</h2>
<div class="nav text-center m-t-15">

    <%= link_to 'Posts', posts_user_path(@user) %>


    <%= link_to 'Likes', likes_user_path(@user) %>

    <% if current_user == @user %>
      <%= link_to 'Edit Account', edit_user_registration_path %>
      <%= link_to 'Add a Project', new_project_path %>
    <% else %>
      <% if @user.is_availablity_public %>
        <% unless user_signed_in? %>
          <%= link_to 'Hire ME', new_user_session_path(alert: 'hireme') %>
        <% else %>
          <%= link_to 'Hire ME', hireme_user_path(@user) %>
        <% end %>
      <% end %>
    <% end %>

</div>
<hr class='m-t-b-30'>