<ul class='text-muted m-0 list-inline'>
  <% if user.profession %>
    <li>
      <%= user.formatted_profession %>
      <% if user.company_name %>
        at <%= user.company_name %>
      <% end %>
    </li>
  <% end %>
  <% if user.technologies.present? %>
    <li>
      —
    </li>
    <li>
      <%= user.technologies.compact.map{|tech| link_to tech, users_path(q: tech)}.join(', ').html_safe %>
    </li>
  <% end %>
</ul>