<div class='row m-t-30'>
  <div class='col-xs-12 col-sm-6'>
    <div class="dropdown">
      
      <div id='profession-s-text'>Show Me <a data-toggle="dropdown" href="#"><%= @profession.try(:name) || 'Anybody' %> <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><%= link_to 'Anybody', users_path %></li>
          <% Profession.all.map do |p| %>
            <li><%= link_to p.name.pluralize, profession_users_path(profession_id: p.slug) %></li>
          <% end %>
        </ul>
      </div>
      
    </div>
  </div>
  <div class='col-xs-12 col-sm-6'>
    <%= form_tag request.path_info, method: :get, id: 'search-form', role: 'form' do |f| %>
      <div class='form-group'>
        <div class="input-group">
          <div class="input-group-addon"><span class='entypo-search'></span></div>
          <%= text_field_tag :q, params[:q], class: 'form-control default-input', placeholder: 'Search by some text' %>
        </div>
        <%= link_to 'search', "#{request.path_info}?",id: 'search-link-mask', style: 'display: none' %>
        <%= submit_tag '.', class: 'search-btn hide' %>
      </div>
    <% end %>
  </div>
</div>