<div class="post">
  <section>
    <div class="post-preview col-xs-10  no-gutter">

      <h2>
        <%= link_to user.name, user_path(user) %><small> (@<%= user.username %>)</small>
        
      </h2>
      <%= render partial: 'profession', locals: {user: user} %>
     
      
    </div>

    <div class=" col-xs-2 no-gutter">
  
      <%= image_tag user.avatar.thumb, class: 'user-icon user-1', alt: user.name %>
 
    </div>

  </section>
</div>