<%
  title t('.meta_title')
  description t('.meta_description')
  
%>

<div class="home-page-posts animated fadeIn">
  <h1 class='text-center'>My Drafts</h1>
  <hr>
  
  <%= render @posts %>  
  <%= paginate @posts %>
</div><!-- Home page posts -->