<%
  title "Hire #{@user.name}"
  
%>
<h2 class='text-center'><%= "Hire #{@user.name}" %></h2>
<hr>
<%= form_for(@hiring_email, url: hireme_user_path(@user)) do |f| %>
  <% if @hiring_email.errors.any? %>
    <ul class='alert alert-warning list-unstyled'>
      <h2><%= pluralize(@hiring_email.errors.count, "error") %> prohibited this post from being saved</h2>
      <% @hiring_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class='form-group'>
    <%= f.label :email, "Sender Email(Your email address will be shrared with #{@user.name})" %>
    <%= f.text_field :email,  class: 'form-control', placeholder: 'Sender Email' %>
  </div>

  <div class='form-group'>
    <%= f.label :content, "Type you message below." %>
    <%= f.text_area :content,  class: 'form-control', placeholder: 'Type youe message' %>
  </div>

  

  <div class='clearfix'>
    <%= f.submit "Send Message", class: 'btn btn-success' %>
  </div>

<% end %>

