<%
  title t('.meta_title')
  description t('.meta_description')
  keywords ['startup', 'funding', 'developers', 'designer']
  canonical users_url
%>
<%= render partial: 'posts/pmenu' %>

<div class="home-page-posts animated fadeIn">
  
  <h1 class='text-center'>Recent people joined the community</h1>
  <%= render "search_form" %>
  <hr class='m-t-b-30'>

  <%= render @users %>
  <%= paginate @users%>
</div>