<%
  title t('.meta_title', user: @user.name)
  description t('.meta_description', user: @user.name)
  canonical likes_user_url(@user)
%>


<div class="favorite-posts clearfix animated fadeIn ">
  <h1 class='text-center'><%= @user.name %>'s Likes</h1>
  <hr>
    <section>
      <% @likes.each do |like| %>
        <% post = like.post %>
        <div class="post-favorite col-xs-12 col-sm-6  no-gutter">
          <h2><%= link_to post.title, seo_post_path(post.user, post) %></h2>
          <p><%= post.subtitle %></p>
        </div>
      <% end %>
    </section>
</div>