<% 
  pprof = @profession.name.pluralize
  title t('.meta_title', profession: pprof)
  description t('.meta_description', profession: pprof)
  canonical users_url
%>
<%= render partial: 'posts/pmenu' %>

<div class="home-page-posts animated fadeIn">
  <h1 class='text-center'>Recent <%= @profession.name %> joined the community</h1>
  <%= render "search_form" %>
  <hr>
  <%= render @users %>
  <%= paginate @users %>
</div>