<%
  title t('.meta_title', user: @user.name)
  description t('.meta_description', user: @user.name)
  canonical posts_user_url(@user)
%>
<div class="home-page-posts animated fadeIn">
  <h1 class='text-center'><%= @user.name %>'s Posts</h1>
  <hr>
  
  <%= render @posts %>  
  <%= paginate @posts %>
</div><!-- Home page posts -->