<%
  title t('.meta_title', title: @user.seo_title)
  description t('.meta_description', description: @user.seo_description)
  keywords @user.seo_keywords
  canonical user_path(@user)
%>



<%= render partial: 'profile', locals: {user: @user} %>
<% if @user.bio.present? %>
  <div class='small'>
    <%= @user.bio.html_safe %>
  </div>
<% end %>
<hr/>
<%= render partial: 'projects', locals: {projects: @projects} %>
<%= render partial: 'posts/top_posts', locals: {top_posts: @top_posts} %>
