<h2 class='text-center'>Change your password</h2>
<hr>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class='form-group'>
    <%= f.label :password %>
    <%= password_field :password,  class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation,  class: 'form-control' %>
  </div>
  <div class="clearfix">
    <%= f.submit "Change my password", class: 'btn btn-success' %>
    <%= link_to "Log in", new_session_path(:user), class: 'btn btn-danger pull-right' %>
  </div>
<% end %>
  

