<h2 class='text-center'>Forgot your password?</h2>
<hr>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class='form-group'>
    <%= f.label :login %>
    <%= f.text_field :login,  class: 'form-control', placeholder: 'Email or password' %>
  </div>
  <div class="clearfix">
    <%= f.submit "Send me reset password instructions", class: 'btn btn-success' %>
    <%= link_to "Log in", new_session_path(:user), class: 'btn btn-danger pull-right' %>
  </div>
<% end %>


