<div class='text-center' id='explore-container'>
  <h1>Find something to read</h1>
  <hr>
  <%= form_tag search_path, method: :get, id: 'search-form', role: 'form' do |f| %>
    <div class='form-group'>
      <div class="input-group">
        <div class="input-group-addon"><span class='entypo-search'></span></div>
        <%= text_field_tag :q, params[:q], class: 'form-control default-input input-lg', placeholder: 'Search by some text' %>
      </div>
      <%= link_to 'search', '/search?',id: 'search-link-mask', style: 'display: none' %>
      <%= submit_tag '.', class: 'search-btn hide' %>
    </div>
  <% end %>
</div>