<div id='flash-bar'>
  <% flash.each do |name, msg| %>
    <div class='alert <%= "alert-#{(name.to_s == "notice" || name.to_s == "success") ? 'success' : 'danger'}" %>'>
      <a class="close" data-dismiss="alert">&#215</a>
      <%= content_tag :div, msg.html_safe, :id => "flash_#{name}" %>
    </div>
  <% end %>
</div>
