<div class="hero-image hero-a-great-story">
  <!-- if the user has javascript disabled they can still use the menu -->
  <noscript>
    <div class="no-js-menu">
      <%= render 'shared/menu_items' %>
    </div>
  </noscript>
  <!-- end no script -->

  <div class="site-info">
    <div class="primary-info">
      <h1>We Are India Tech</h1>
      <p>We features the faces and profiles of our indian tech community. </p>
    </div>
    <% unless user_signed_in? %>
      <div class="secondary-info">
        <p>
        <%= link_to '<i class="entypo-doc-text"></i>Join'.html_safe,  new_user_registration_path, class: 'btn btn-writer btn-post' %> &nbsp; to &nbsp; 
        <%= link_to 'Share your story', new_user_registration_path %></p>
      </div>
    <% else %>
      <div class="secondary-info">
        <p><%= link_to 'Share your story', new_post_path %></p>
      </div>
    <% end %>
  </div>
</div>