<% if user_signed_in? %>
  <ul>
    <li><i class="entypo-star"></i>
      <%= link_to 'Explore', posts_path %>
    </li>
    <li><i class="entypo-home"></i>
      <%= link_to 'Home',root_path %>
    </li>
    <li><i class="entypo-user"></i>
      <%= link_to current_user.name ,user_path(current_user) %>
    </li>
    <li><i class="entypo-docs"></i>
      <%= link_to 'My Posts' , posts_user_path(current_user) %>
    </li>
    <li><i class="entypo-brush"></i>
      <%= link_to 'Add New Post' , new_post_path %>
    </li>
    <li><i class="entypo-newspaper"></i>
      <%= link_to 'Drafts' , drafts_user_path(current_user) %>
    </li>    
    <li><i class="entypo-logout"></i>
      <%= link_to 'Sign out', destroy_session_path(current_user), method: 'delete' %>
    </li>
  </ul>
<% else %>

  <ul>
    <li><i class="entypo-star"></i>
      <%= link_to 'Explore', posts_path %>
    </li>
    <li><i class="entypo-home"></i>
      <%= link_to 'Home', root_path %>
    </li>
    <li><i class="entypo-user"></i>
      <%= link_to 'Sign in', new_user_session_path %>
    </li>
    <li><i class="entypo-user-add"></i>
      <%= link_to 'Join', new_user_registration_path %>
    </li>

  </ul>
<% end %>