<div class="" style="">
  <!-- if the user has javascript disabled they can still use the menu -->
  <noscript>
    <div class="no-js-menu">
      <%= render 'shared/menu_items' %>
    </div>
  </noscript>
  <!-- end no script -->
</div>