<div id='menu'>
  <%= render 'shared/menu_items' %>
</div>
<div class="sidebar category-sidebar col-md-5 col-sm-12" style="background-image: url('<%= @topic.splash.main.url %>')">

  <%= render 'shared/bar' %>

  <!-- if the user has javascript disabled they can still use the menu -->

  <%= render 'shared/noscript_menu' %>

  <!-- end no script -->

  <div class="site-info">
    <div class="primary-info alpha clearfix topic-blk">
      <%= follow_or_unfollow(@topic, 'pull-right', @following_ids) %>
      <h1><%= @topic.title %></h1>
      <p><%= @topic.description %></p>
    </div>
    <div class="secondary-info">

    </div>
  </div>

</div>