<%
  title t('.meta_title')
  description t('.meta_description')
%>

<div class='text-center'>
  <h1>We are what what we make us</h1>
  <hr>
  <p class='help-block'>
    We are group of developers trying to provide a platform to Indian Tech Community to write, read and share their views on different topics.
  </p>
  <hr>
  <%= render partial: 'shared/big_search' %>
  <hr>
</div>