<%
  title t('.meta_title')
  canonical root_url
  description t('.meta_description')
  keywords "indian entrepreneur, startups, indian community, india startups, india developers, designers, investors, funding".split(',')

%>


<div class="home-page-posts animated fadeIn ">
  <h1 class='text-center'>We Are India Tech</h1>
  <hr class='m-t-b-30'>
  <p>
    We Are India Tech is your writing pad, and your launch pad. Our goal is to embrace the communal nature of today's tech scene in India, highlighting contributions made by techies in the most stimulation fashion.
  </p>
  <p>
    You should be here if you are a tech enthusiast, an entrepreneur or a student with pixel dust dreams in your head and a jungle fire in your belly.
  </p>
  <p>
    Drop in, make a profile, and get started! It’s that simple. And that one simple move parachutes you into a whole vast world of investors, startups, tech buffs and a range of like-minded people from the tech neighborhood.
  </p>
  <p>
    <%= link_to 'Create an awesome profile', new_user_registration_path, class: 'blue' %> , <%= link_to 'explore', users_path, class: 'blue' %> or <%= link_to 'start reading', posts_path, class: 'blue' %> to get started.
  </p>
  <hr>
  <div >
    <h2><i class="entypo-trophy"></i><i class="link-spacer"></i>  <%= @posts.length %> Top Posts</h2>
    <%= render  @posts %>
  </div>
  <p>
    <%= link_to 'More Posts', posts_path %>
  </p>

</div><!-- Home page posts -->
