<%
  title t('.meta_title')
  description t('.meta_description')
%>
<style>
  p{
    font-size: 16px;
  }
</style>
<h1 class='text-center'>
  Privacy Policy
</h1>
<hr>
<p>
  Welcome to www.<%= ENV['SITENAME'] %>.com. At <%= ENV['SITENAME'] %> (hereinafter referred to as “we” “us”), we collect and manage user data according to the following Privacy Policy, with the goal of incorporating our company values of transparency, accessibility, sanity, and usability. This document is part of <%= ENV['SITENAME'] %>'s Terms of Service, and by using <%= ENV['SITENAME'] %>.com (the "Website"), you agree to the terms of this Privacy Policy and the Terms of Service. Please read the Terms of Service in their entirety, and refer to those for definitions and contacts.
</p>
<h3>
  Data Collected
</h3>
<p>
  We collect anonymous data from every visitor of the Website to monitor traffic and fix bugs. This includes, but is not limited to, web requests and the data sent in response to such requests, Internet Protocol addresses, user browser types, the user’s browser language, and a timestamp for a request.
</p>
<p>
  We ask you to log in and provide certain personal information (such as your name and email address) in order to be able to save your profile and the documents and comments associated with it. In order to enable these or any other login-based features, we use cookies to store session information for your convenience. You can block or delete cookies and still be able to use <%= ENV['SITENAME'] %>, although if you do, you will then be asked for your username and password every time you log in to the Website. In order to take advantage of certain features of the Website, you may also choose to provide us with other personal information, such as your picture or personal website, but your decision to utilize these features and provide such data will always be voluntary.
</p>
<p>
  You are able to view, change and remove your data associated with your profile. Should you choose to delete your account, please contact us at <%= mail_to "support@#{ENV['SITENAME']}.com" %> and we will follow up with such request as soon as possible. You can also modify your notification preferences by clicking the appropriate link included in the footer of email notifications.
</p>
<h3>
  Use of the Data
</h3>
<p>
  We only use your personal information to provide you with <%= ENV['SITENAME'] %>’s services or to communicate with you about the services or the Website.
</p>
<p>
  With respect to any documents you may choose to upload to <%= ENV['SITENAME'] %>, we take the privacy and confidentiality of such documents seriously. We encrypt all documents, and permanently delete any redacted edits you make to documents. If you choose to make a document public, we recommend you redact any and all references to people and addresses, as we can't protect public data. <b><i>We are not responsible for any violation of privacy law in which you may be liable.</i></b>
</p>
<p>
  We employ industry standard techniques to protect against unauthorized access of data about you that we store, including personal information.
</p>
<p>
  We do not share personal information you have provided to us without your consent, unless:
</p>
<p>

  <li> Doing so is appropriate to carry out a user's request;</li>
  <li> We believe it's needed to enforce our Terms of Service, or that is legally required;</li>
  <li> We believe it's needed to detect, prevent or address fraud, security or technical issues;</li>
  <li> We believe it's needed to detect, prevent or address fraud, security or technical issues;</li>
  <li> Otherwise protect our property, legal rights, or that of others.</li>
</p>
<p>
  <%= ENV['SITENAME'] %>’s headquarters are located in the United States. If you are visiting the Website from outside the U.S., you agree to any processing of any personal information you provide to us according to this policy.
</p>
<p>
  <%= ENV['SITENAME'] %> may contact you, by email or other means. <%= ENV['SITENAME'] %> may also use technology to alert you via a confirmation email when you open an email from us. If you do not want to receive email from <%= ENV['SITENAME'] %>, please opt out of receiving email at the bottom of any <%= ENV['SITENAME'] %> emails or by editing your profile preferences.
</p>
<h3>
  Sharing of Data
</h3>
<p>
  We don't share your personal information with third parties. Only aggregated, anonymized data is periodically transmitted to external services to help us improve <%= ENV['SITENAME'] %>’s Website and services. We currently use Google Analytics (traffic analysis, SEO optimization), Mailchimp (mailing list management), Zendesk (email support) and Kissmetrics (analytics). For more information, please visit each company’s Privacy Policies.
</p>
<p>
  We also use social buttons provided by services like Twitter, Google+, Pinterest, LinkedIn and Facebook. Your use of these third party services is optional. We are not responsible for the privacy policies and/or practices of these third party services, and you are responsible for reading and understanding the Private Policies of those third party services.
</p>
<p>
  We employ and contract with people and other entities that perform certain tasks on our behalf and who are under our control (our "Agents"). We may need to share personal information with our Agents in order to provide products or services to you. Unless we tell you differently, our Agents do not have any right to use Personal Information or other information we share with them beyond what is necessary to assist us. You hereby consent to our sharing of Personal Information with our Agents.
</p>
<p>
  We may choose to buy or sell assets. In these types of transactions, user information is typically one of the transferred business assets. Moreover, if <%= ENV['SITENAME'] %>, or substantially all of <%= ENV['SITENAME'] %>’s assets, are acquired, or if <%= ENV['SITENAME'] %> goes out of business or enter bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any entity that acquires <%= ENV['SITENAME'] %> or its assets may continue to use your personal information as set forth in this policy.
</p>
<h3>
  Changes to the Privacy Policy
</h3>
<p>
  We may amend this Privacy Policy from time to time. The use of information we collect now is subject to the Privacy Policy in effect at the time such information is used. If we make changes in the way we collect or use information, we will notify you by posting an announcement on the Website or sending you an email. Users are bound by any changes to the Privacy Policy when he or she uses the Services after such changes have been first posted.
</p>
<p>
  Should you have any question or concern, please write to <%= mail_to "support@#{ENV['SITENAME']}.com" %>
</p>