<%
  title t('.meta_title')
  description t('.meta_description')
%>
<style>
  p{
    font-size: 16px;
  }
</style>
<h1 class='text-center'>
  Terms of Service
</h1>
<hr>

<h3> Acceptance of the Terms of Service
</h3>
<p>
  Welcome to <%= ENV['SITENAME'] %> (herein referred to as "we" or "us" or the "Company"). <%= ENV['SITENAME'] %>’s products and services are provided by <%= ENV['SITENAME'] %> LLC.  By accessing and using www.<%= ENV['SITENAME'] %>.com, you accept and agree to be bound by the terms and provisions of this agreement.  In addition, when using <%= ENV['SITENAME'] %>’s particular services, you shall be subject to any posted guidelines are rules applicable to such services, which may be posted and modified from time to time.
  </p>
<p>
  ANY PARTICIPATION IN <%= ENV['SITENAME'] %> WILL CONSTITUTE ACCEPTANCE OF THIS AGREEMENT.  IF YOU DO NOT AGREE TO ABIDE BY TERMS OF SERVICES DETAILED HEREIN, PLEASE DO NOT USE <%= ENV['SITENAME'] %>.COM.
</p>
<p>
  The following terms and conditions (together with any documents referred to in them) (collectively, these "Terms of Service") apply to your use of <%= ENV['SITENAME'] %>.com, including any content, functionality and services offered on or through <%=  link_to "#{ENV['SITENAME']}.com", "http://wwww.#{ENV['SITENAME']}.com" %> (the "Website"). We want to keep our relationship with you as lean and informal as possible, but please read the Terms of Service carefully before you start to use the site. Please contact us at <%= mail_to "support@#{ENV['SITENAME']}.com" %> if you have any questions. 
</p>
<p>
  We will update these Terms of Service from time to time in our sole discretion. Your continued use of the Website following the publishing of revised Terms of Use means that you accept and agree to the changes.
</p>
<h3>
  Accessing the Website and Account Security
</h3>
<p>
  <%= ENV['SITENAME'] %> is a public site with private features for users. This means that part of the website can be viewed publicly by non-users, but the rest of the website can be viewed only after a user signs up with a free or paid account. We reserve the right to withdraw or amend, even dramatically, this Website, and any service or material we provide on the Website, in our sole discretion without notice. Also, we will not be liable if for any reason all or any part of the Website is unavailable at any time or for any period. As Helpfied evolves, new features might influence the reliability of the Website. Because of the constant evolution and addition of new products and features, from time to time, we may restrict access to some parts of the Website, or the entire Website, to users, including registered users.
</p>
<p>
  To access the Website you are provided with a secure user name, password or any other piece of information as part of our security procedures. You must treat such information as confidential, and you must not disclose it to any third party. You agree to immediately notify Company of any unauthorized use of your user name or password or any other breach of security. You also agree to ensure that you exit from your account at the end of each session. You should use particular caution when accessing your account from a public or shared computer so that others are not able to view or record your password or other personal information.
</p>
<p>
  In the future, you may be asked to provide certain registration details or other information. It is a condition of your use of the Website that all the information you provide on the Website is correct, current and complete.
</p>
<p>
  We have the right to disable any user identification code or password, whether chosen by you or provided by us, at any time in our sole discretion for any or no reason, including, if in our opinion, you have failed to comply with any provision of these Terms of Service.
</p>
<p>
  <%= ENV['SITENAME'] %> granted you the permission to publicly talk and write about <%= ENV['SITENAME'] %> and the Website. We trust your judgment and discretion in helping us develop and spread <%= ENV['SITENAME'] %> to the world.
</p>
<h3>
  User Contributions
</h3>
<p>
  The Website contains user generated content, and also may contain message boards, personal web pages or profiles, forums or other interactive features (collectively, "Interactive Services") that allow you to post, submit, publish, display or transmit to other users (hereinafter, "post") content or materials (collectively, "User Content") on or through the Website.  All User Content must comply with the Content Standards set out below.
</p>
<p>
  We claim no intellectual property rights over the User Content. Your profile and materials uploaded remain yours. However, by setting your pages to be viewed publicly, you agree to allow others to view, comment, edit and branch your User Content, and you grant us the right to use, copy, distribute and disclose to third parties any such material for any purpose. You represent and warrant that you own or control all rights in and to the User Content and have the right to grant the Company and its affiliates the license granted above. You represent and warrant that all of your User Content does and will comply with these Terms of Service, and you agree to defend, indemnify and hold harmless the Company and its affiliates and licensors for any breach of that representation and warranty.
</p>
<p>
  You understand and acknowledge that you are responsible for any User Content you submit or contribute, and you, not the Company, have full responsibility for such content, including its legality, reliability, accuracy and appropriateness.
</p>
<h3>
  Intellectual Property Rights
</h3>
<p>
  The Website and its entire contents, features and functionality (including but not limited to all information, software, text, displays, images, video and audio, and the design, selection and arrangement thereof), are owned by the Company, its licensors or other providers of such material and are protected by United States and international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.
</p>
<p>
  You are permitted to use the Website for purpose not inconsistent with applicable law or these Terms of Use. If you wish to make any use of material on the Website other than that set out in this section, please address your request to: <%= mail_to "support@#{ENV['SITENAME']}.com" %>.
</p>
<p>
  If you wish to make any use of material on the Website other than that set out in this section, please address your request to: <%= mail_to "support@#{ENV['SITENAME']}.com" %>.
</p>
<p>
  If you use any part of the Website in breach of the Terms of Service, your right to use the Website will cease immediately and you must destroy any copies of the materials you have made. No right, title or interest in or to the Website or any content on the site is transferred to you, and all rights not expressly granted are reserved by the Company. Any use of the Website not expressly permitted by these Terms of Service is a breach of these Terms of Service and may violate copyright, trademark and other laws.
</p>
<p>
  If you believe that any User Content violates your copyright, please email us at <%= mail_to "support@#{ENV['SITENAME']}.com" %> for instructions on sending us a notice of copyright infringement. It is the policy of the Company to terminate the user accounts of repeat infringers.
</p>
<h3>
  Prohibited Uses
</h3>
<p>
  You may use the Website only for lawful purposes and in accordance with these Terms of Service. You agree not to use the Website:
</p>
<p>
  <li> In any way that violates any applicable federal, state, local and international law or regulation (including, without limitation, any laws regarding the export of data or software to and from the India or other countries).</li>
  <li> To send, upload, download, use or re-use any material that does not comply with the Content Standards set below.</li>
  <li> To transmit, or procure the sending of, any mass advertising or direct solicitation material.</li>
  <li> To impersonate or attempt to impersonate the Company or a Company employee, another user, or another person or entity (including, without limitation, the use of e-mail addresses or screen names associated with or confusingly similar to any of the foregoing).</li>
  <li> To engage in any other conduct that restricts or inhibits anyone's use or enjoyment of the Website, or which, as determined by us, may harm the Company or users of the Website or expose them to liability.</li>
<p>
  Additionally, you agree not to:
</p>
<p>
  <li> Use the Website in any manner that could disable, overburden, damage, or impair the site or interfere with any other party's use of the Website, including their ability to engage in real time activities through the Website.</li>
  <li> Use any robot, spider or other automatic device, process or means to access the Website for any purpose, including to monitor or copy any of the material on the Website.</li>
  <li> Use any manual process to monitor or copy any of the material on the Website or for any other unauthorized purpose without our prior written consent.</li>
  <li> Use any device, software or routine that interferes with the proper working of the Website.</li>
  <li> Introduce any viruses, trojan horses, worms, logic bombs or other material which is malicious or technologically harmful.</li>
  <li> Attempt to gain unauthorized access to, interfere with, damage or disrupt any parts of the Website, the server on which the Website is stored, or any server, computer or database connected to the Website.</li>
  <li> Attack the Website via a denial-of-service attack or a distributed denial-of-service attack or otherwise attempt to interfere with the proper working of the Website.</li>
<h3>
  Legal Disclaimer
</h3>
<p>
  This Website and its components are offered for informational purposes only; we make no representations or warranties of any kind, express or implied about the completeness, accuracy, reliability, suitability or availability with respect to the Website or the information, products, services, or related graphics contained on the Website for any purpose.  We disclaim all liability and responsibility arising from any reliance placed on such materials by you or any other visitor to the Website, or by anyone who may be informed of any of its contents.  Any reliance you place on such information is therefore strictly at your own risk.
</p>
<p>
  Any content and/or opinions uploaded, expressed or submitted to the Website, and all articles and responses to questions and other content, other than the content provided by the Company, are solely the opinions and the responsibility of the person or entity submitting them and do not necessarily reflect the opinion of the Company. We are not responsible, or liable to any third party, for the content or accuracy of any materials posted by you or any other user of the Website.
<p>
  Your use of <%= ENV['SITENAME'] %> is at your sole risk. The service is provided on an “as is” and “as available” basis. In particular, you acknowledge that technical support is only provided in only available via email, in English; that we use third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Website; that the technical processing and transmission of the service, including User Content, may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
</p>
<p>
  We do not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the service will be corrected.
</p>
<p>
  You expressly understand and agree that <%= ENV['SITENAME'] %> shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if <%= ENV['SITENAME'] %> has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.
</p>
<p>
  You agree to defend, indemnify and hold harmless the Company, its affiliates and licensors and their respective officers, directors, employees, contractors, agents, licensors and suppliers from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses or fees (including reasonable attorneys' fees) resulting from your violation of these Terms of Use or your use of the Website, including, without limitation, any use of the Website's content, services and products other than as expressly authorized in these Terms of Use or your use of any information obtained from the Website.
</p>
<h3>
  Monitoring and Enforcement of User Content; Termination
</h3>
<p>
  We have the right to:
  <li> Remove or refuse to post any User Content for any or no reason in our sole discretion.</li>
  <li> Take any action with respect to any User Content that we deem necessary or appropriate in our sole discretion if we believe that such User Content violates the Terms of Service, including the Content Standards, infringes any intellectual property right or other right, threatens the personal safety of users of the Website and the public or could create liability for the Company.</li>
  <li> Disclose user identities when required to do so by applicable law, including in response to a law enforcement request supported by a valid court order.</li>
  <li> Terminate your access to all or part of the Website for any or no reason, including without limitation, any violation of these Terms of Service.</li>
<p>
  By using the Website, you agree to waive and hold harmless the Company from any claims resulting from any action taken by the Company during or as a result of its investigations and from any actions taken as a consequence of investigations by either the Company or law enforcement authorities.
</p>
<p>
  We do not undertake to review all material before it is posted on the Website, and cannot ensure prompt removal of objectionable material after it has been posted. Accordingly, we assume no liability for any action or inaction regarding transmissions, communications or content provided by any user or third party. We have no liability or responsibility to anyone for performance or nonperformance of the activities described in this paragraph.
</p>
<h3>
  Content Standards
</h3>
<p>
  These content standards apply to any and all User Content and Interactive Services. User Content must comply with all applicable federal, state, local and international laws and regulations. Without limiting the foregoing, User Content must not:
</p>
<p>
  <li> Contain any material that is defamatory, obscene, indecent, abusive, offensive, harassing, violent, hateful, inflammatory or otherwise objectionable.</li>
  <li> Promote sexually explicit or pornographic material, violence, or discrimination based on race, sex, religion, nationality, disability, sexual orientation or age.</li>
  <li> Infringe any patent, trademark, trade secret, copyright or other intellectual property rights of any other person.</li>
  <li> Violate the legal rights (including the rights of publicity and privacy) of others or contain any material that could give rise to any civil or criminal liability under applicable laws or regulations or that otherwise may be in conflict with these Terms of Service.</li>
  <li> Be likely to deceive any person.</li>
  <li> Promote any illegal activity, or advocate, promote or assist any unlawful act.</li>
  <li> Cause annoyance, inconvenience or needless anxiety or be likely to upset, embarrass, alarm or annoy any other person.</li>
  <li> Be used to impersonate any person, or to misrepresent your identity or affiliation with any person or organization.</li>
  <li> Involve commercial activities or sales, such as contests, sweepstakes and other sales promotions, barter or advertising.</li>
  <li> Give the impression that they emanate from us or any other person or entity, if this is not the case.</li>
<h3>
  Geographic Restrictions
</h3>
<p>
  <%= ENV['SITENAME'] %>’s headquarters are located in the United States and specifically in the state of Pennsylvania. We make no claims that the Website or any of its content is accessible or appropriate outside of the United States. Access to the Website may not be legal by certain persons or in certain countries. If you access the Website from outside the United States, you do so on your own initiative and are responsible for compliance with local laws.
</p>
<h3>
  Governing Law and Jurisdiction
</h3>
<p>
  These Terms of Service and any dispute or claim arising out of, or related to, them, their subject matter or their formation (in each case, including non-contractual disputes or claims) shall be governed by and construed in accordance with the internal laws of the State of Pennsylvania without giving effect to any choice or conflict of law provision or rule.
</p>
<p>
  Any legal suit, action or proceeding arising out of, or related to, these Terms of Service or the Website shall be instituted exclusively in the federal courts of the United States or the courts of the State of Pennsylvania. You waive any and all objections to the exercise of jurisdiction over you other courts and to venue in such courts.
</p>
<h3>
  Waiver and Severability
</h3>
<p>
  Our failure to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision.
</p>
<p>
  The Terms of Service constitutes the entire agreement between you and <%= ENV['SITENAME'] %> and govern your use of the service, superseding any prior agreements (including, but not limited to, any prior versions of the Terms of Service). If any provision of these Terms of Service is held by a court of competent jurisdiction to be invalid, illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of the Terms of Service will continue in full force and effect.
</p>
<h3>
  Feedback
</h3>
<p>
  Any feedback, comments, or suggestions you may provide regarding <%= ENV['SITENAME'] %> is entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.
</p>
<p>
  We welcome any comment, question and communication <%= mail_to "support@#{ENV['SITENAME']}.com" %>
</p>