<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>

    <ul class='alert alert-warning list-unstyled'>
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this post from being saved</h2>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  <% end %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
  </div>

  <div class='form-group'>
    <% if @project.image? %>
      <p class='text-center'>
      <%= image_tag(@project.image.medium.url, class: 'img-thumbnail profile-img')  %>
      </p>
    <% end %>
    <%= f.label :image, 'Photo' %>
    <%= f.file_field :image, class: 'btn btn-success' %>
    <%= f.hidden_field :image_cache %>
  </div>

  <div class='form-group'>
    <%= f.label :url %>
    <%= f.text_field :url, class: 'form-control', placeholder: 'URL' %>
  </div>

  <div class='form-group'>
    <%= f.label :role %>
    <%= f.text_field :role, class: 'form-control', placeholder: 'Role' %>
  </div>

  <div class='form-group'>
    <%= f.label :descrption, 'Description' %>
    <div>
      <%= f.text_area :descrption, rows: 20 ,  class: 'form-control', id: 'project_description' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
