<%
  title t('.meta_title', project: @project.name)
  description t('.meta_description', short_description: @project.short_description)
  canonical user_project_path(user_id: @user.slug, id: @project.slug)
%>

<div class='text-center' id='user-profile'>
  <%= link_to user_path(@user) do %><%= image_tag(@user.avatar.medium.url, class: 'img-thumbnail profile-img img-circle')  %><% end %>
  <h2></span><%= @user.name %> <small>(@<%= @user.username %>)</small></h2>

    <div>
      

      <h1 class='m-0 f-xl no-bold text-muted'>Project Name:&nbsp;&nbsp;<%= link_to @project.name, @project.url, target: '_blank', class: 'f-xl' %></h1>
      <h3 class='f-lg m-0 text-muted'><span>Role:&nbsp;&nbsp;</span><%= @project.role %></h1>
      <p class='f-sm'><%= link_to 'View Profile', user_path(@user) %></p>
      
    </div>
    
</div>

<hr class="m-t-b-30" />
<div>
  <%= link_to @project.url , target: '_blank', class: 'pull-left', id: 'project-image' do %>
    <%= image_tag(@project.image.medium.url, class: 'img-thumbnail')  %>
  <% end %>
  <%= @project.description.html_safe %>
</div>