<%
  title t('.meta_title', tag: @tag)
  description t('.meta_description', tag: @tag)

%>
<div class="home-page-posts animated fadeIn">
  <h1 class='text-center'><%= @tag %></h1>
  <hr>
  <%= render @posts %>  
  <%= paginate @posts %>
</div><!-- Home page posts -->