<%
  title "Sign in"
  
%>
<h2 class='text-center'>Login</h2>
<hr>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class='form-group'>
    <%= f.text_field :login, autofocus: true, class: 'form-control', placeholder: 'Email or username' %>
  </div>

  <div class='form-group'>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'password' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class='form-group'>
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class='clearfix'>
    <%= f.submit "Log in", class: 'btn btn-success' %>
    <%= link_to "Join", new_user_registration_path, class: 'btn btn-warning' %>
  </div>

<% end %>

