<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>

    <ul class='alert alert-warning list-unstyled'>
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved</h2>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  <% end %>
  <div class='form-group'>
    <%= f.text_field :title, class: 'form-control input-lg', placeholder: 'Title' %>
  </div>
  <div class='form-group'>
    <%= f.text_field :subtitle, class: 'form-control input-lg', placeholder: 'Subtitle' %>
  </div>

  <div class='form-group'>
    <%= f.collection_select :topic_ids, @topics, :id, :title, {},  {:multiple => true, class: 'form-control'} %>
    <i class='help-block'>
      (You can select from multiple topics)
    </i>
  </div>

  <div class='form-group'>
    <div>
      <%= f.text_area :content, rows: 20 %>
    </div>
    <%= link_to 'Keyboard shortcuts','http://imperavi.com/redactor/docs/shortcuts/', class: 'blue', target: '_blank' %>
  </div>

  <div class='form-group'>
    <%= f.label :tags, 'Tags(separated by comma)' %>
    <%= f.text_field :tags, class: 'form-control', value: @post.tags.join(", ") %>
  </div>

  <div class="actions">
    <%= f.submit 'Publish', class: 'btn btn-success' %>
    <% if @post.new_record? || !@post.published %>
      <%= f.hidden_field :published, value: true  %>
      <%= link_to 'Save Draft', '#sd' , class: 'btn btn-warning', id: 'js-save-draft' %>
    <% end %>
  </div>
<% end %>
