<div class="nav text-center">
  <a href="<%= posts_path %>" data-target='.home-page-posts' class="<%= 'active' if action_name == 'index' && controller_name == 'posts' %>">Posts</a>
  <a href="<%= explore_posts_path %>" data-target='.home-page-explore' class="<%= 'active' if action_name == 'explore' || action_name == 'search' %>">Explore</a>
  <% if user_signed_in? %>
    <a href="<%= feed_posts_path %>" data-target='.home-page-posts' class="<%= 'active' if action_name == 'feed' %>">Feed</a>
  <% end %>
  <a href="<%= topics_posts_path %>" data-target='.home-page-categories' class="<%= 'active' if action_name == 'topics' %>">Topics</a>
  <a href="<%= users_path %>" data-target='.home-page-categories' class="<%= 'active' if (action_name == 'index' || 'pindex') && controller_name == 'users' %>">People</a>
</div>