<div class="post">
  <section>
    <div class="post-preview col-xs-10  no-gutter">

      <h2>
        <%= link_to post.title, seo_post_path(post.user, post) %>
        
      </h2>
      <p><%= post.subtitle %></p>
      <% if current_user.try(:id) == post.user.id %>
        <ul class='list-inline'>
          <li>
            <%= link_to 'Edit <i class="entypo-pencil"></i>'.html_safe, edit_post_path(post), title: 'Edit Post', class: 'label label-danger' %>
          </li>
          <% if !post.published %>
            <li>
              <%= link_to 'Publish <i class="entypo-publish"></i>'.html_safe, publish_post_path(post), title: 'Publish Post', class: 'label label-success publish-post-link', remote: true, method: 'post', data: {type: 'json', disable_with: 'Wait..'} %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <p class="meta">
        <%= link_to post.user.username, post.user %> in
        <% topic_links = post.topics.map do |topic| %>
          <% link_to topic.title, topic_path(topic) %>
        <% end %> 
        <%= topic_links.to_sentence.html_safe %><i class="link-spacer"></i> <i class="entypo-bookmark"></i> <%= post.duration %> minute read<i class="link-spacer"></i> <i class="entypo-heart"></i><%= pluralize(post.likes_count, 'like')  %> it
      </p>
    </div>

    <div class=" col-xs-2  no-gutter">
  
      <%= image_tag post.user.avatar.thumb, class: 'user-icon user-1', alt: post.user.name %>
 
    </div>

  </section>
</div>