<div class="home-page-categories animated fadeIn ">
  <h1 class='text-center'>Topics</h1>
  <hr>
  <div class="category row row-centered">
    <section>
      <% topics.each do |topic| %>
        <div class="category-preview col-centered col-xs-12 col-sm-4">
          <%= follow_or_unfollow(topic, '', @following_ids) %>
          <h2 class='alpha'>
            <%= topic.title %>
          </h2>

          <%= link_to topic_path(topic) do %>
            <%= image_tag topic.splash.medium.url, alt: 'category-image' %>
          <% end %>
        </div>
      <% end %>
    </section>
  </div>
</div>