<% if top_posts.present? %>
<div class="row">
  <div class="top-posts col-xs-12">
    <h2><i class="entypo-trophy"></i><%= top_posts.length %> Top Posts</h2>
  </div>
    
  <% top_posts.each do |top_post| %>
    <div class="col-xs-12 col-sm-3 col-md-2">
      <span class="view-count"><%= top_post.likes_count %></span>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-10">
      <h3 class="top-post"><%= link_to top_post.title, seo_post_path(top_post.user, top_post) %></h3>
    </div>
  <% end %>

</div>
<% end %>