<%
  title t('.meta_title')
  description t('.meta_description')
  
%>

<%= render partial: 'pmenu' %>

<div class="home-page-posts animated fadeIn ">
  <%= render partial: 'shared/big_search' %>

  <% if @posts.present? %>
  <div class="animated fadeIn">
    <%= render @posts %>  
    <%= paginate @posts %>
  </div><!-- Home page posts -->
<% end %>
</div>