<%
  title t('.meta_title')
  description t('.meta_description')
  
%>
<%= render partial: 'pmenu' %>

<div class="home-page-posts animated fadeIn">
  <h1 class='text-center'>Posts from Topics You Follow</h1>
  <hr>
  <%= render @posts %>  
  <%= paginate @posts %>
</div>