<%
  title t('.meta_title')
  description t('.meta_description')
  
%>

<% unless action_name == 'top' %>
  <% canonical posts_url %>
<% else %>
  <% canonical top_posts_url %>
<% end %>

<%= render partial: 'pmenu' %>

<div class="home-page-posts animated fadeIn">
  <% unless action_name == 'top' %>
    <h1 class='text-center'>Recent Post</h1>
  <% else %>
    <h1 class='text-center'>Top Post</h1>
  <% end %>
  <hr>
  <% unless action_name == 'top' %>
    <div class="nav text-right m-t-15">
      <%= link_to 'Top Posts', top_posts_path, class: 'pull-right' %>
    </div>
  <% end %>

  <%= render @posts %>
  <%= paginate @posts %>
</div><!-- Home page posts -->

