<%
  title t('.meta_title', title: @post.seo_title)
  description t('.meta_description', description: @post.seo_description)
  keywords @post.seo_tags
  canonical seo_post_url(@post.user, @post)
%>
<% content_for :js do %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "headline": "<%= @post.title %>",
      "datePublished": "<%= @post.updated_at.iso8601 %>",
      "description": "<%= @post.subtitle %>",
      "articleBody": "<%= @post.content %>"
    }
  </script>
  <script type="text/javascript">
    setTimeout(function(){
      $.post('<%= rcount_post_path(@post) %>',{ inc: 'yes'}, function(data, textStatus, xhr) {
        /*optional stuff to do after success */
      });
    }, 55000);
  </script>
<% end %>
<%= render partial: 'users/profile', locals: {user: @post.user} %>
<h1 class='text-center'>
  <%= @post.title %>
</h1>
<% if @post.subtitle.present? %>
<h2 class='text-center text-muted'>
  <%= @post.subtitle %>
</h2>
<hr class='m-t-b-30'>
<% end %>
<div class='post-content'>
  <%= @post.content.html_safe %>
</div>
<div class="single-footer">
  <div class="social clearfix">
    <% unless current_user %>
      <%= link_to '<i class="entypo-heart"></i>Like'.html_safe, user_session_path(alert: 'like') , class: 'btn btn-writer btn-like login' %>
    <% else %>
      <% if current_user.like?(@post) %>
        <%= link_to user_path(current_user) do %>
          <%= image_tag current_user.avatar.thumb.url, class: 'liked-this-icon', alt: current_user.name %>
        <% end %>
      <% else %>
        <%= link_to '<i class="entypo-heart"></i>Like'.html_safe, like_post_path(@post) , class: 'btn btn-writer btn-like', data: {disabled_with: 'Wait..', type: 'json' }, remote: true, method: 'post', id: 'like-post'  %>
      <% end %>
    <% end %>
    <% @likes.each do |like| %>
      <% next if like.user_id == current_user.try(:id) %>
      <%= link_to user_path(like.user) do %>
        <%= image_tag like.user.avatar.thumb.url, class: 'liked-this-icon', alt: like.user.name %>
      <% end %>
    <% end %>


      <a class="social-icon" href="<%= tweet_referral_link_url(@post) %>", target= '_blank'>
          <i class="entypo-twitter"></i>
      </a>
      <a class="social-icon" target="_blank" href="<%= facebook_referral_link_url(@post) %>">
          <i class="entypo-facebook-squared"></i>
      </a>

      

  </div>
  <div class="m-t-b-30">
    <%= subscribe_or_not(@user) if @user != current_user%>
  </div>
  <div class="category-list">
      <p>Also found in</p>
      <ul>
        <% @post.topics.each do |topic| %>
          <li>
            <%= link_to topic.title, topic_path(topic) %>
          </li>
        <% end %>
          
      </ul>
  </div>
  <div class="category-list">
      <p>Tags</p>
      <ul>
        <% @post.tags.each do |tag| %>
          <li>
            <%= link_to tag, tag_path(id: tag) %>
          </li>
        <% end %>
      </ul>
  </div>
</div>
<% if Rails.env.production? %>
<%= render partial: 'shared/discuss', locals: {post: @post} %>
<% end %>

