<%
  title t('.meta_title')
  description t('.meta_description')
  keywords @topics[0..10].map(&:title)
  canonical topics_posts_url
%>
<%= render partial: 'pmenu' %>
<%= render partial:  'topics', locals: {topics: @topics} %>