
body, html {
  height: 100%;
}

.form-group{
  margin-bottom: 30px;
}

.m-auto{
  margin: 0 auto;
}

p{
  word-wrap: break-word;
}

.alpha {
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(54, 25, 25, .5);
}

.category-preview h2{
  width: 100%;
  max-width: 260px;
}
#flash-bar{
  position: absolute;
  font-weight: bold;
  font-size:  $font-size-large;
  top: 80px;
  z-index: 10;
  text-align: center;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#error_explanation{
  margin-bottom: 30px;
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
  ul{
    list-style-type: none;
  }
  border: 1px solid transparent;
  border-radius: $alert-border-radius;
  padding: $alert-padding;
}

.form-control::-moz-placeholder {
  color: #999;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}

#social{
  a{
    color: darken(#f0f0f0, 20%);

    &:hover{
      color: #CB202D;
    }
  }
}

.m-t-b-30{
  margin-top: 30px;
  margin-bottom: 30px;
}
.m-t-15{
  margin-top: 15px;
}
.m-t-30{
  margin-top: 30px;
}
.m-b-30{
  margin-bottom: 30px;
}
.m-t-b-10{
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-b-10{
  margin-bottom: 10px;
  margin-top: 0;
}

.m-0{
  margin: 0;
}

#user-profile{
  padding: 20px;
}

.no-bold{
  font-weight: normal;
}
.f-xs{
  font-size: 16px !important;
  line-height: 18px;
}
.f-sm{
  font-size: 18px !important;
  line-height: 22px;
}

.f-lg{
  font-size: 20px !important;
  line-height: 24px;
}

.f-xl{
  font-size: 24px !important;
  line-height: 28px;
}

.f-xxl{
  font-size: 28px !important;
}

.f-sans{
  font-family: $sans;
}

.blue{
  color: $light-blue !important;
  &:hover, &:focus{
    color: darken($light-blue, 10%) !important;
  }
}


.pagination{
  font-size: 16px;
  a{
   
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }
}

.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}