// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-img {
  width: 130px;
}


#user-profile{
  h3, a{
    font-size: 19px;
    font-weight: normal;
  }
}


.topic-blk{
  padding: 10px;
}
#project-image{
  padding-right: 25px;
}
#profession-s-text{
  a{
    font-weight: bold;
    text-decoration: underline;
  }
}