<footer class="home-footer text-center">
  <%= link_to 'About', about_path %>
  <i class="link-spacer"></i>
  <%= link_to 'Privacy', privacy_path %>
  <i class="link-spacer"></i>
  <%= link_to 'Terms of Service', tos_path %>
  <i class="link-spacer"></i>
  <%= mail_to "Contact", 'sayhi@weareindiatech.com' %>
  <i class="link-spacer"></i>
  <a href="post.html"> ©2014 WeAreIndiatech. All rights reserved. </a>
</footer>