<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/favicons' %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <%= display_meta_tags %>
  <%= javascript_include_tag 'theme/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--[if lt IE 10]>
    <%= javascript_include_tag 'jquery.placeholder' %>
    <%= javascript_include_tag 'ie9' %>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/bar' %>
  <% if controller_name == 'home' %>
    <%= render 'shared/home_splash' %>
  <% else %>
    <%= render 'shared/noscript_menu' %>
  <% end %>
  <div class="container">
    <div class="row">
      <div id='menu'>
        <%= render 'shared/menu_items' %>
      </div>
      <div class="col-sm-12 main-content single-content">
        <%= render partial: 'shared/flash', locals: { flash: flash } %>
        <%= yield %>
        <%= render partial:   'layouts/footer' %>
      </div><!-- main content -->
    </div> <!--/row -->
  </div> <!-- /container -->
<%= yield :js %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65670286-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>