<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <%= display_meta_tags %>
  <%= javascript_include_tag 'theme/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container home-container">
    <div class="row">
      <% if @topic %>
        <%= render 'shared/sidebar_topic' %>
      <% else %>
        <%= render 'shared/sidebar' %>
      <% end %>
      <div class="col-md-7 col-sm-12 col-md-offset-5 main-content">
        <%= render partial: 'shared/flash', locals: { flash: flash } %>
        <%= yield %>
      </div><!-- main content -->
    </div> <!--/row -->
  </div> <!-- /container -->

</body>
</html>